@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Roboto:wght@500&display=swap');

@layer base {
    html {
        font-family: 'Kanit', sans-serif;
        color: #000;
        background-color: #fff;
    }
}
