@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Roboto:wght@500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: 'Kanit', sans-serif;
        color: #000;
        background-color: #fff;
        overflow-x: none tailwind;
    }
}
