@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: 'Kanit', sans-serif;
        color: #000;
        background-color: #fff;
        overflow-x: none tailwind;
        background-color: #f0eff4;
    }
    .bg-image {
        background-image: url('../assets/img/foodBackground.jpg');
        background-size: cover;
        image-rendering: optimizeQuality;
    }

    /* Remove Arrows from input type number */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type='number'] {
        -moz-appearance: textfield;
    }
}
